<!DOCTYPE html class="light">
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ url_for('static', filename='favicon-32x32.png') }}"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}"
    />
    <link
      rel="manifest"
      href="{{ url_for('static', filename='site.webmanifest') }}"
    />
    <meta
      name="description"
      content="Freelancer Portfolio Hub - Connecting Freelancers with Clients"
    />
    {% block head_meta %}{% endblock %}
    <title>{% block title %}Freelancer Hub{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        darkMode: "class",
      };
    </script>

    {% block head_styles %}{% endblock %} {% block head_scripts_top %}{%
    endblock %}
  </head>
  <body
    class="bg-slate-100 text-slate-900 dark:bg-gray-900 dark:text-white transition-colors duration-300"
  >
    <header>{% include 'base/_navbar.html' %}</header>

    <main class="mt-20 mx-4">{% block content %}{% endblock %}</main>

    {% include 'base/_footer.html' %}

    <script>
      // Hamburger menu toggle
      document.addEventListener("DOMContentLoaded", function () {
        const hamburger = document.getElementById("hamburger");
        const navbar = document.getElementById("navbar-sticky");
        if (hamburger && navbar) {
          hamburger.addEventListener("click", function () {
            navbar.classList.toggle("hidden");
          });
        }
      });
    </script>
  </body>
</html>
