<div>
  <label
    for="status"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Status</label
  >
  <select
    name="status"
    id="status"
    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
    required
  >
    <option value="">Select status</option>
    <option value="Open">Open</option>
    <option value="Closed">Closed</option>
    <option value="Paused">Paused</option>
  </select>
</div>
