<div>
  <label
    for="type"
    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
    >Job Type</label
  >
  <select
    name="type"
    id="type"
    class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-500 dark:focus:border-indigo-500"
    required
  >
    <option value="">Select type</option>
    <option value="Full-time">Full-time</option>
    <option value="Part-time">Part-time</option>
    <option value="Contract">Contract</option>
    <option value="Temporary">Temporary</option>
    <option value="Internship">Internship</option>
  </select>
</div>
