<div class="bg-white rounded-lg shadow-sm p-4 mb-6">
  <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between">
    <div class="flex items-center space-x-4 mb-4 sm:mb-0">
      <span class="text-sm text-gray-700">Sort by:</span>
      <select
        class="px-3 py-1 border text-gray-700 border-gray-300 rounded text-sm focus:outline-none focus:ring-2 focus:ring-indigo-500"
      >
        <option>Most Recent</option>
        <option>Highest Pay</option>
        <option>Company A-Z</option>
      </select>
    </div>

    {% if user_employer %}
    <!-- Post Job Button -->
    <div>
      <a
        href="{{ url_for('post_job') }}"
        class="rounded-md p-4 bg-indigo-600 hover:bg-indigo-800 text-slate-100"
        >New Job Post</a
      >
    </div>
    {% endif %}

    <!-- {/* Search Bar */} -->
    <div
      class="rounded-lg flex items-center shadow-lg max-w-2xl border-2 border-indigo-600"
    >
      <div class="flex-grow flex items-center px-3">
        <span class="text-gray-400 mr-2">&#128269;</span>
        <input
          type="text"
          placeholder="Search for jobs..."
          class="w-full py-2 focus:outline-none text-gray-700"
        />
      </div>
      <button
        class="bg-indigo-600 text-white px-6 py-3 rounded-md hover:bg-indigo-700 flex items-center"
      >
        Search
        <span class="ml-2">&#10132;</span>
      </button>
    </div>
  </div>
</div>
